.h1-responsive {
    font-size: 4rem;
}

.w-responsive {
    font-size: 2.8rem;
}

.sobre {
    display: flex;
    justify-content: center;
}

#contact-form label {
    font-size: 2.5rem;
}

.sobre-1 input, .sobre-2 input, .sobre-3 input {
    height: 4rem;
    font-size: 2rem;
}

.sobre-4 textarea {
    height: 14rem;
    font-size: 2rem;
}

@media (max-width:600px) {
    iframe {
        height: 100px;
        width: 200px;
    }
}